﻿* {
    margin: 0px;
    padding: 0px;
    font-family: heveltica Neue;
    font-weight: lighter;
}

.general {
    margin: auto;
    display: block;
    width: 990px;
    height: 600px;
    background-color: white;
    overflow: hidden;
}

    .general h1 {
        margin-left: 10px;
        color: gray;
    }

.centrado {
    margin:auto;
    display:block;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    background-color: white;
}

.footer {
    width: 100%;
    background: rgb(37,37,37);
    padding: 10px 0 14px 0;
    overflow: hidden;
}

.footer_hijo {
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    color: white;
    background: rgb(37,37,37);
    font-family: arial;
    font-size: 12px;
}

.centrado p {
    display: block;
    
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial;
    font-size: 16px;
}

.encabezado {
    font-weight:bold;
    margin-left:10px;
    margin-top:30px;
    display:block;
    font-family:Arial;
    font-size:18px;
    overflow:hidden;
}

.centrado p {
    display:block;
    margin-top:10px;
     margin-left:35px;
}

.subencabezado {
    font-weight:bold;
   
    font-family:Arial;
    font-size:14px;
    color:gray;
}