﻿.general {
    margin: auto;
    width: 990px;
    height: 800px;
    background:  #ededed;  
    overflow:hidden;
}


.negocios {            
    width: 100%;
    height: 20%;
    -webkit-border-radius: 8px 8px 5px 5px;
    
    background-color:white;
    
    
}

.titulo {
    margin-top:-18px;
    -webkit-border-radius: 8px 8px 1px 1px;
    background-color: #1076C1;
}

    .titulo h1 {
        color: #fff;
        margin-left: 20px;
        font: 180% serif;
    }


.contenedor_grid {
    display: block;
   
    background-color: #fff;
}

.grid {
    margin: auto;
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

.footer {
    width: 100%;
    margin-top:10px;
    background: rgb(37,37,37);
    padding: 10px 0 14px 0;
    overflow: hidden;
}

.footer_hijo {
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    color: white;
    background: rgb(37,37,37);
    font-family: arial;
    font-size: 12px;
}

.productos {
    width: 80%;
    float:left;
    height: 100%;   
    margin-top:10px;
    background-color:white;
    -webkit-border-radius: 8px 8px 1px 1px;
    
}

.titulo_productos {
    margin-top:-24px;
     -webkit-border-radius: 8px 8px 1px 1px;
        background-color: #1076C1;
}

.titulo_productos h2 {
        color: #fff;
        margin-left: 20px;
        font: 180% serif;
    }

.div_carrito{
    float:right;
    margin-top:10px;
    -webkit-border-radius: 8px 8px 5px 5px;
    width:190px;
    height:100%;
    background-color:white;
}